<p>test lainnya</p>


  <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Jenis Nasabah</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Nama Pemohon</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
   </div>

 <div class="form-row">
                                     <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Alamat Pemohon</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Nama Pemohon</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
</div>

<div class="form-row">
                 <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Propinsi</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Kabupaten/kota</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
</div>

<div class="form-row">
                 <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Kecamatan</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Kelurahan</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
 </div>

  <div class="form-row">
                                            <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Jenis usaha</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Jabatan</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
</div>

 <div class="form-row">
                                            <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">No Telepon Kantor</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">NomorFFaks</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
 </div>

  <div class="form-row">
                                            <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Alamat Email</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Group</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
</div>