<p>Know your customer (KYC)</p>

<p>Data Nasabah</p>

  <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Jenis Nasabah</label>
                                            <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Nama Pemohon</label>
                                            <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
                                </div>
 <div class="form-row">